### -------- Spring Boot / Maven -------- ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### -------- Compiled Classes -------- ###
*.class
*.jar
*.war
*.ear

### -------- Logs -------- ###
*.log
logs/
hs_err_pid*
replay_pid*

### -------- Application Files -------- ###
*.pid

### -------- OS Specific Files -------- ###
# macOS
.DS_Store

# Windows
Thumbs.db

### -------- IDEs -------- ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
.springBeans

# VS Code
.vscode/

### -------- Backup / Temp -------- ###
*.swp
*.swo
*.bak
*.tmp
